.nav{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    position: inherit;
    height: 10vh;
    /* background-color: red; */
    box-shadow: 0 4px 15px -5px gray;
    padding-bottom: 0.5rem;
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{

    font-family: cursive;
    font-weight: lighter;
    font-size: 0.7rem;
}

button{
 border-radius: 8px;
 padding: 0.6rem;
 background-color: rgb(63, 63, 95);
 border-style: none;
 color: white;
 margin-top: 0.5rem;
 /* margin-left: 80%; */
}

